<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>抢券页面</title>
</head>
<body>
    <div>
        <button onclick="test">抢券1</button>
        <a href="http://localhost:9111/coupon/snag?cid=6&uid=2">券2</a>
    </div>

    <div>
        <table>
            <tr>
                <td>券名称</td>
            </tr>
            <tr th:each="">

            </tr>


        </table>
    </div>


<script>
    function test() {

    }
</script>
</body>
</html>
